:root {
  --primary-one: #fbd758;
  --primary-two: #fce38a;
  --primary-three: #fdefbc;
  --secondary-one: #364f6b;
  --secondary-two: #47688d;
  --primary-text: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
